@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Mulish:wght@200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
/*Variables*/
/*Mixins*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f5fafe;
}

.container {
  margin: 0 16.5rem;
}

.container-fluid {
  width: 100%;
}

/*==========HEADER START==========*/
header .header {
  /*Header navigation start*/
  /*Header navigation end*/
}

header .header .container .header__top .header__top__questions p a {
  color: #333;
}

header .header .container .header__top .header__top__cards-programs .header__top__card-program i {
  font-size: 1.5rem;
  margin-right: 2rem;
}

header .header .container .header__top .header__top__cards-programs .header__top__card-program span {
  font-size: 1rem;
}

header .header .container .header__top .header__top__cards-programs .header__top__card-program .fa-star {
  margin-left: 10rem;
}

header .header .container .header__bottom {
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
}

header .header .container .header__bottom .header__bottom__left-side {
  display: flex;
}

header .header .container .header__bottom .header__bottom__left-side .header_bottom__logo {
  font-family: "Luckiest Guy", cursive;
  margin-right: 11rem;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

header .header .container .header__bottom .header__bottom__left-side .header_bottom__logo h1 {
  font-size: 2.4rem;
}

header .header .container .header__bottom .header__bottom__left-side .header_bottom__logo h1 span {
  color: #ec1f46;
}

header .header .container .header__bottom .header__bottom__left-side .header__bottom__search-area {
  font-family: "Mulish", sans-serif;
  margin-right: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header .container .header__bottom .header__bottom__left-side .header__bottom__search-area input {
  width: 28.5rem;
  height: 4rem;
  padding: 1.2rem 2.3rem;
  border: none;
  outline: none;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  background-color: #fff;
}

header .header .container .header__bottom .header__bottom__left-side .header__bottom__search-area span {
  cursor: pointer;
  width: 6.5rem;
  height: 4rem;
  background-color: #ec1f46;
  color: #fff;
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header .container .header__bottom .header__bottom__left-side .header__bottom__search-area span i {
  font-size: 1.3rem;
}

header .header .container .header__bottom .header__bottom__right-side {
  display: flex;
}

header .header .container .header__bottom .header__bottom__right-side .header__bottom__checkout {
  margin-right: 6rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

header .header .container .header__bottom .header__bottom__right-side .header__bottom__checkout i {
  font-size: 2rem;
}

header .header .container .header__bottom .header__bottom__right-side .header__bottom__checkout span {
  position: absolute;
  top: 0rem;
  right: -1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ec1f46;
  color: #fff;
  border-radius: 50%;
}

header .header .container .header__bottom .header__bottom__right-side .header__bottom__profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header .container .header__bottom .header__bottom__right-side .header__bottom__profile figure {
  margin-right: 1.8rem;
}

header .header .container .header__bottom .header__bottom__right-side .header__bottom__profile span {
  margin-right: 2.4rem;
  font-size: 1.4rem;
}

header .header .container .header__bottom .header__bottom__right-side .header__bottom__profile i {
  font-size: 1.6rem;
  cursor: pointer;
}

header .header .container-fluid {
  width: 100%;
  height: 8rem;
  background-color: #0a223d;
  font-family: "Mulish", sans-serif;
}

header .header .container-fluid .header__navigation-features {
  height: 8rem;
  display: grid;
  align-content: center;
}

header .header .container-fluid .header__navigation-features .fa-bars {
  color: #fff;
  display: none;
}

header .header .container-fluid .header__navigation-features .header__nav {
  margin: 0 16.5rem;
}

header .header .container-fluid .header__navigation-features .header__nav ul {
  display: flex;
  justify-content: space-between;
}

header .header .container-fluid .header__navigation-features .header__nav ul li a {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  transition: all 0.2s;
}

header .header .container-fluid .header__navigation-features .header__nav ul li a:hover {
  color: #ec1f46;
}

header .header .container-fluid .header__navigation-features .header__nav .fa-times {
  color: #ec1f46;
  display: none;
}

/*==========HEADER END==========*/
/*==========MAIN START==========*/
main .main .container .url {
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  color: #333;
  margin: 1.8rem 0 4.3rem 0;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__text-area {
  margin-bottom: 2rem;
  font-family: "Mulish", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__text-area .grand-hilton-hotel__text-area__right-side .grand-hilton-hotel__5-stars {
  margin-bottom: 0.5rem;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__text-area .grand-hilton-hotel__text-area__right-side .grand-hilton-hotel__5-stars i {
  color: #f2994a;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__text-area .grand-hilton-hotel__text-area__right-side .grand-hilton-hotel__text-area__h2-red-btn {
  display: flex;
  align-items: center;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__text-area .grand-hilton-hotel__text-area__right-side .grand-hilton-hotel__text-area__h2-red-btn h2 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #333;
  margin-right: 1.4rem;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__text-area .grand-hilton-hotel__text-area__right-side .grand-hilton-hotel__text-area__h2-red-btn span {
  width: 7rem;
  height: 2rem;
  background-color: #ec1f46;
  border-radius: 0.4rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__text-area .grand-hilton-hotel__text-area__right-side .grand-hilton-hotel__url p {
  font-size: 1.2rem;
  color: #333;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__text-area .grand-hilton-hotel__text-area__left-side {
  width: 6.5rem;
  height: 4.5rem;
  background-color: #ec1f46;
  flex-direction: column;
  border-radius: 0.4rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__text-area .grand-hilton-hotel__text-area__left-side span:nth-of-type(1) {
  font-size: 0.8rem;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__text-area .grand-hilton-hotel__text-area__left-side span:nth-of-type(2) {
  font-size: 1.4rem;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  grid-template-rows: 26rem auto;
  grid-gap: 2rem;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__banner {
  border-radius: 0.8rem;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__image {
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
  grid-column: 1/3;
  grid-row: 1/3;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__image img {
  width: 100%;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__card {
  background-color: #0a223d;
  color: #fff;
  padding: 2.6rem;
  padding-top: 5rem;
  font-family: "Nunito", sans-serif;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__card .card__text-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__card .card__text-area .card__text-area__left-side {
  display: flex;
  flex-direction: column;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__card .card__text-area .card__text-area__left-side span:nth-of-type(1) {
  font-size: 1rem;
  font-weight: normal;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__card .card__text-area .card__text-area__left-side span:nth-of-type(2) {
  font-size: 2.4rem;
  font-weight: 800;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__card .card__text-area .card__text-area__left-side span:nth-of-type(3) {
  font-size: 1rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__card .card__text-area .card__text-area__left-side span:nth-of-type(4) {
  font-size: 1.8rem;
  font-weight: 600;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__card .card__text-area .card__text-area__right-side {
  display: flex;
  flex-direction: column;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__card .card__text-area .card__text-area__right-side div:nth-of-type(1) {
  margin-bottom: 1rem;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__card .card__text-area .card__text-area__right-side div:nth-of-type(1) i {
  font-size: 1.5rem;
  margin-right: 1.3rem;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__card .card__text-area .card__text-area__right-side div:nth-of-type(1) span {
  font-size: 1.2rem;
  font-weight: normal;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__card .card__text-area .card__text-area__right-side div:nth-of-type(2) {
  margin-bottom: 1rem;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__card .card__text-area .card__text-area__right-side div:nth-of-type(2) i {
  font-size: 1.5rem;
  margin-right: 1.3rem;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__card .card__text-area .card__text-area__right-side div:nth-of-type(2) span {
  font-size: 1.2rem;
  font-weight: 600;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__card .card__text-area .card__text-area__right-side div:nth-of-type(3) {
  margin-bottom: 2.4rem;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__card .card__text-area .card__text-area__right-side div:nth-of-type(3) i {
  font-size: 1.5rem;
  margin-right: 1.3rem;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__card .card__text-area .card__text-area__right-side div:nth-of-type(3) span {
  font-size: 1.8rem;
  font-weight: 600;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__card .card__btn {
  background-color: #ec1f46;
  border-radius: 0.4rem;
  color: white;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__card .card__btn a {
  background-color: #ec1f46;
  border-radius: 0.4rem;
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
}

main .main .container .grand-hilton-hotel .grand-hilton-hotel__banners .grand-hilton-hotel__map {
  width: 100%;
  height: 100%;
}

main .main .container .middle-nav {
  font-family: "Mulish", sans-serif;
  margin: 6.5rem 0;
}

main .main .container .middle-nav ul {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: space-between;
}

main .main .container .middle-nav ul li a {
  font-size: 1.4rem;
  font-weight: bold;
  transition: 0.2s;
}

main .main .container .middle-nav ul li a:hover {
  color: #ec1f46;
  position: relative;
}

main .main .container .middle-nav ul li a:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.4rem;
  bottom: -1.5rem;
  left: 0;
  background: #ec1f46;
  transition: 0.5s;
}

/*==========MAIN END==========*/
/*==========FOOTER START==========*/
/*==========FOOTER END==========*/
/*Media Query 1200px start*/
/*Media Query 1200px end*/
/*Media Query 992px start*/
/*Media Query 992px end*/
/*Media Query 768px start*/
/*Media Query 768px end*/
/*Media Query 576px start*/
/*Media Query 576px end*/
/*# sourceMappingURL=main.css.map */