/*Variables*/
/*Mixins*/
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Mulish:wght@200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }
  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 576px) and (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }
  .row-cols-md-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 576px) and (min-width: 768px) and (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }
  .row-cols-lg-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 576px) and (min-width: 768px) and (min-width: 992px) and (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%;
  }
  .row-cols-xl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 576px) and (min-width: 768px) and (min-width: 992px) and (min-width: 1200px) and (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0%;
  }
  .row-cols-xxl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

/*==========BUTTONS START==========*/
/*==========BUTTONS END==========*/
/*==========NAVIGATION MENU START==========*/
header .nav-container {
  width: 100%;
  height: 8rem;
  background-color: #0a223d;
  font-family: "Mulish", sans-serif;
  position: fixed;
}

header .nav-container .fa-bars {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  display: none;
}

header .nav-container .nav {
  width: 111rem;
  margin: 0 auto;
  position: relative;
}

header .nav-container .nav .nav__list {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav-container .nav .nav__list .nav__item .nav__link {
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  transition: 0.2s;
}

header .nav-container .nav .nav__list .nav__item .nav__link:hover {
  color: #ec1f46;
}

header .nav-container .nav .fa-times {
  font-size: 3rem;
  transition: 0.2s;
  display: none;
}

header .nav-container .nav .fa-times:hover {
  color: #ec1f46;
}

/*==========NAVIGATION MENU END==========*/
/*==========HEADER START==========*/
header {
  /*==========HEADER TOP START==========*/
  /*==========HEADER TOP END==========*/
  /*==========HEADER BOTTOM STARTS==========*/
  /*==========HEADER BOTTOM ENDS==========*/
}

header .header-top__container {
  background-color: #f5fafe;
  height: 6rem;
}

header .header-top__container .header-top {
  width: 111rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: #333;
}

header .header-top__container .header-top p {
  margin: 2.4rem 0;
}

header .header-top__container .header-top p a {
  color: #333;
}

header .header-top__container .header-top .header-top__right-side {
  margin: 2.4rem 0;
  display: flex;
}

header .header-top__container .header-top .header-top__right-side .right-side .right-side__gift-i {
  font-size: 1.4rem;
  margin-right: 2.1rem;
}

header .header-top__container .header-top .header-top__right-side .right-side span {
  color: #333;
}

header .header-top__container .header-top .header-top__right-side .right-side .fa-star {
  margin-left: 9.9rem;
}

header .header-bottom__container {
  width: 111rem;
  margin: 0 auto;
}

header .header-bottom__container .header__bottom {
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
}

header .header-bottom__container .header__bottom .header__bottom__left-side {
  display: flex;
}

header .header-bottom__container .header__bottom .header__bottom__left-side .header_bottom__logo {
  font-family: "Luckiest Guy", cursive;
  margin-right: 11rem;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

header .header-bottom__container .header__bottom .header__bottom__left-side .header_bottom__logo h1 {
  font-size: 2.4rem;
}

header .header-bottom__container .header__bottom .header__bottom__left-side .header_bottom__logo h1 span {
  color: #ec1f46;
}

header .header-bottom__container .header__bottom .header__bottom__left-side .header__bottom__search-area {
  font-family: "Mulish", sans-serif;
  margin-right: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-bottom__container .header__bottom .header__bottom__left-side .header__bottom__search-area input {
  width: 28.5rem;
  height: 4rem;
  padding: 1.2rem 2.3rem;
  border: none;
  outline: none;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  background-color: #fff;
  border: 1px solid #ec1f46;
}

header .header-bottom__container .header__bottom .header__bottom__left-side .header__bottom__search-area span {
  cursor: pointer;
  width: 6.5rem;
  height: 4rem;
  background-color: #ec1f46;
  color: #fff;
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-bottom__container .header__bottom .header__bottom__left-side .header__bottom__search-area span i {
  font-size: 1.3rem;
}

header .header-bottom__container .header__bottom .header__bottom__right-side {
  display: flex;
}

header .header-bottom__container .header__bottom .header__bottom__right-side .header__bottom__checkout {
  margin-right: 6rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

header .header-bottom__container .header__bottom .header__bottom__right-side .header__bottom__checkout i {
  font-size: 2rem;
}

header .header-bottom__container .header__bottom .header__bottom__right-side .header__bottom__checkout span {
  position: absolute;
  top: 0rem;
  right: -1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ec1f46;
  color: #fff;
  border-radius: 50%;
}

header .header-bottom__container .header__bottom .header__bottom__right-side .header__bottom__profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-bottom__container .header__bottom .header__bottom__right-side .header__bottom__profile figure {
  margin-right: 1.8rem;
}

header .header-bottom__container .header__bottom .header__bottom__right-side .header__bottom__profile span {
  margin-right: 2.4rem;
  font-size: 1.4rem;
}

header .header-bottom__container .header__bottom .header__bottom__right-side .header__bottom__profile i {
  font-size: 1.6rem;
  cursor: pointer;
}

/*==========HEADER END==========*/
/*==========FORM START==========*/
/*==========FORM END==========*/
/*==========GRID START==========*/
/*==========GRID END==========*/
/*==========FOOTER START==========*/
/*==========FOOTER END==========*/
/*==========MAIN START==========*/
/*==========MAIN END==========*/
/*Media Query 1200px start*/
@media (max-width: 1200px) {
  header {
    /*==========HEADER TOP START==========*/
    /*==========HEADER TOP END==========*/
    /*==========HEADER BOTTOM STARTS==========*/
    /*==========HEADER BOTTOM ENDS==========*/
    /*==========NAVIGATION MENU START==========*/
    /*==========NAVIGATION MENU END==========*/
  }
  header .header-top__container {
    margin: 0rem 4rem;
  }
  header .header-top__container .header-top {
    width: 100%;
  }
  header .header-bottom__container {
    width: 100%;
  }
  header .header-bottom__container .header__bottom {
    justify-content: center;
    margin: 2rem 0;
  }
  header .header-bottom__container .header__bottom .header__bottom__left-side {
    margin-right: 4rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__left-side .header_bottom__logo {
    margin-right: 3rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__left-side .header_bottom__logo h1 {
    font-size: 2rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__left-side .header__bottom__search-area {
    margin-right: 5rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__left-side .header__bottom__search-area input {
    width: 20rem;
    height: 3rem;
    padding: 1rem 2rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__left-side .header__bottom__search-area span {
    cursor: pointer;
    width: 6rem;
    height: 3rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__left-side .header__bottom__search-area span i {
    font-size: 1.2rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__right-side .header__bottom__checkout {
    margin-right: 2rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__right-side .header__bottom__checkout i {
    font-size: 2rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__right-side .header__bottom__checkout span {
    position: absolute;
    top: -0.7rem;
    right: -1.2rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__right-side .header__bottom__profile span {
    margin-right: 2rem;
    font-size: 1.6rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__right-side .header__bottom__profile i {
    font-size: 1.6rem;
    cursor: pointer;
  }
  header .nav-container .nav {
    width: 100%;
  }
  header .nav-container .nav .nav__list {
    justify-content: center;
  }
  header .nav-container .nav .nav__list .nav__item .nav__link {
    font-size: 1.4rem;
    padding: 0 2rem;
  }
}

/*Media Query 1200px end*/
/*Media Query 992px start*/
@media (max-width: 992px) {
  header {
    /*==========NAVIGATION MENU START==========*/
    /*==========NAVIGATION MENU END==========*/
  }
  header .nav-container .nav .nav__list .nav__item .nav__link {
    font-size: 1.2rem;
    padding: 0 1.5rem;
  }
}

/*Media Query 992px end*/
/*Media Query 768px start*/
@media (max-width: 768px) {
  header {
    /*==========HEADER TOP START==========*/
    /*==========HEADER TOP END==========*/
    /*==========HEADER BOTTOM STARTS==========*/
    /*==========HEADER BOTTOM ENDS==========*/
    /*==========NAVIGATION MENU START==========*/
    /*==========NAVIGATION MENU END==========*/
  }
  header .header-top__container .header-top {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .header-top__container .header-top p {
    margin: 1rem 0 0 0;
  }
  header .header-top__container .header-top p a {
    color: #333;
  }
  header .header-top__container .header-top .header-top__right-side {
    margin: 1rem 0;
  }
  header .header-top__container .header-top .header-top__right-side .right-side .right-side__gift-i {
    margin-right: 1rem;
  }
  header .header-top__container .header-top .header-top__right-side .right-side .fa-star {
    margin-left: 3rem;
  }
  header .header-bottom__container {
    width: 100%;
  }
  header .header-bottom__container .header__bottom {
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
  }
  header .header-bottom__container .header__bottom .header__bottom__left-side {
    flex-direction: column;
    margin-right: 0rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__left-side .header_bottom__logo {
    margin-right: 0rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__left-side .header_bottom__logo h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__left-side .header__bottom__search-area {
    margin-right: 0rem;
    margin-bottom: 1.5rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__left-side .header__bottom__search-area input {
    width: 20rem;
    height: 4rem;
    padding: 1.2rem 2rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__left-side .header__bottom__search-area span {
    cursor: pointer;
    width: 6rem;
    height: 4rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__left-side .header__bottom__search-area span i {
    font-size: 1.4rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__right-side .header__bottom__checkout {
    margin-right: 2rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__right-side .header__bottom__checkout i {
    font-size: 2rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__right-side .header__bottom__checkout span {
    position: absolute;
    top: -0.2rem;
    right: -1rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__right-side .header__bottom__profile span {
    margin-right: 2rem;
    font-size: 1.6rem;
  }
  header .header-bottom__container .header__bottom .header__bottom__right-side .header__bottom__profile i {
    font-size: 1.6rem;
    cursor: pointer;
  }
  header .nav-container .fa-bars {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    display: block;
    color: #fff;
  }
  header .nav-container .nav {
    display: none;
  }
  header .nav-container .nav .nav__list {
    display: flex;
    flex-direction: column;
    background-color: #0a223d;
    width: 100%;
    height: 100vh;
  }
  header .nav-container .nav .nav__list .nav__item {
    margin: 1.5rem 0;
  }
  header .nav-container .nav .nav__list .nav__item .nav__link {
    font-size: 1.6rem;
    padding: 0 1.5rem;
  }
  header .nav-container .nav .fa-times {
    font-size: 3rem;
    transition: 0.2s;
    display: block;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    color: #fff;
  }
  header .nav-container .nav .fa-times:hover {
    color: #ec1f46;
  }
}

/*Media Query 768px end*/
/*Media Query 576px start*/
/*Media Query 576px end*/
/*# sourceMappingURL=main.css.map */