/*Mixins*/
@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin box-shadow {
	box-shadow: 0 0 10px rgba(68, 68, 68, 0.6);
}

@mixin box-shadow-inset {
	box-shadow: inset 0 0 5px var(--black);
}

@mixin card {
	width: 33.5rem;
	height: 21.7rem;
	padding: 4rem;
	@include box-shadow;
	border-radius: 0.5rem;
	h3 {
		font-size: 2.6rem;
		font-weight: bold;
		color: var(--dark-purple);
	}

	@media (max-width: 768px) {
		width: 100%;
		height: 15rem;
		padding: 2rem;
		@include box-shadow;
		border-radius: 0.5rem;
		h3 {
			font-size: 2rem;
			font-weight: bold;
			color: var(--dark-purple);
			text-align: center;
		}
	}
}

@mixin toggle {
	/*header toggle starts*/
	.label {
		display: flex;
		align-items: center;
		cursor: pointer;
		color: #f30202;

		.toggle {
			isolation: isolate;
			position: relative;
			height: 30px;
			width: 60px;
			border-radius: 15px;
			overflow: hidden;
			@include box-shadow;
			border: 3px solid var(--black);
			margin-left: 1rem;
			.toggle-state {
				display: none;

				&:checked ~ .indicator {
					transform: translate3d(25%, 0, 0);
				}
			}
			.indicator {
				height: 100%;
				width: 200%;
				background: var(--black);
				border-radius: 15px;
				transform: translate3d(-75%, 0, 0);
				transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
				background-color: var(--dark-purple);
			}
		}
	}
	/*header toggle ends*/

	@media (max-width: 1200px) {
		/*header toggle starts*/
		.label {
			display: flex;
			align-items: center;
			cursor: pointer;

			.toggle {
				isolation: isolate;
				position: relative;
				height: 20px;
				width: 35px;
				border-radius: 15px;
				overflow: hidden;
				@include box-shadow;

				margin-left: 1rem;
				.toggle-state {
					display: none;

					&:checked ~ .indicator {
						transform: translate3d(25%, 0, 0);
					}
				}
				.indicator {
					height: 100%;
					width: 200%;
					border-radius: 15px;
					transform: translate3d(-75%, 0, 0);
					transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
				}
			}
		}
		/*header toggle ends*/
	}
}
