*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}
html {
	font-size: 62.5%;
}

body {
	background-color: $section-bgc;
}

.container {
	margin: $body-margin-r-l-165px;
}

.container-fluid {
	width: 100%;
}
