// colors
$white: #fff;
$black: #000;
$bgc1: #9b59b6;

// mixins

@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}
html {
	font-size: 62.5%;
}

body {
	background-color: $black;
}
main {
	height: 100vh;
	@include flex;

	.slider {
		position: relative;
		width: 50rem;
		height: 50rem;
		@include flex;
		background-color: $bgc1;

		.container {
			display: block;
			position: relative;
			padding-left: 3.5rem;
			margin-bottom: 1.2rem;
			cursor: pointer;
			font-size: 2.2rem;

			input {
				position: absolute;
				opacity: 0;
				cursor: pointer;

				&:checked ~ .checkmark:after {
					display: block;
				}
			}
			.checkmark {
				position: absolute;
				top: 0;
				left: 0;
				height: 2.5rem;
				width: 2.5rem;
				background-color: none;
				border-radius: 50%;
				border: 1px solid $white;
				&:after {
					top: 0.1rem;
					left: 0.15rem;
					width: 90%;
					height: 90%;
					border-radius: 50%;
					background: $white;
				}
				&:after {
					content: "";
					position: absolute;
					display: none;
				}
			}
		}
	}
}
