/*==========HEADER START==========*/
header {
	/*==========HEADER TOP START==========*/
	.header-top__container {
		background-color: $section-bgc;

		height: 6rem;
		.header-top {
			@include width-1110px;
			display: flex;
			justify-content: space-between;
			font-size: 1rem;
			color: $dark-gray;

			p {
				margin: 2.4rem 0;
				strong {
				}
				a {
					color: $dark-gray;
				}
			}

			.header-top__right-side {
				margin: 2.4rem 0;
				display: flex;
				.right-side {
					.right-side__gift-i {
						font-size: 1.4rem;
						margin-right: 2.1rem;
					}
					span {
						color: $dark-gray;
					}
					.fa-star {
						margin-left: 9.9rem;
					}
				}
			}
		}
	}
	/*==========HEADER TOP END==========*/

	/*==========HEADER BOTTOM STARTS==========*/
	.header-bottom__container {
		@include width-1110px;
		.header__bottom {
			display: flex;
			justify-content: space-between;
			margin: 5rem 0;

			// header bottom left side start
			.header__bottom__left-side {
				display: flex;
				.header_bottom__logo {
					font-family: $font-luckiest-guy;
					margin-right: 11rem;
					color: $dark-gray;
					@include flex;
					cursor: pointer;
					h1 {
						font-size: 2.4rem;

						span {
							color: $dark-red;
						}
					}
				}

				.header__bottom__search-area {
					font-family: $font-mulish;
					margin-right: 24rem;

					@include flex;
					input {
						width: 28.5rem;
						height: 4rem;
						padding: 1.2rem 2.3rem;
						border: none;
						outline: none;
						border-top-left-radius: 0.6rem;
						border-bottom-left-radius: 0.6rem;
						background-color: $white;
						border: 1px solid $dark-red;
					}

					span {
						cursor: pointer;
						width: 6.5rem;
						height: 4rem;
						background-color: $dark-red;
						color: $white;
						border-top-right-radius: 0.6rem;
						border-bottom-right-radius: 0.6rem;
						@include flex;

						i {
							font-size: 1.3rem;
						}
					}
				}
			}
			// header bottom left side end

			// header bottom right side start
			.header__bottom__right-side {
				display: flex;
				.header__bottom__checkout {
					margin-right: 6rem;
					position: relative;
					@include flex;
					cursor: pointer;

					i {
						font-size: 2rem;
					}
					span {
						position: absolute;
						top: 0rem;
						right: -1rem;
						width: 2rem;
						height: 2rem;
						@include flex;
						background-color: $dark-red;
						color: $white;
						border-radius: 50%;
					}
				}
				.header__bottom__profile {
					@include flex;
					figure {
						margin-right: 1.8rem;
						img {
						}
					}
					span {
						margin-right: 2.4rem;
						font-size: 1.4rem;
					}
					i {
						font-size: 1.6rem;
						cursor: pointer;
					}
				}
			}
			// header bottom right side end
		}
	}

	/*==========HEADER BOTTOM ENDS==========*/
}
/*==========HEADER END==========*/
