/*==========BUTTONS START==========*/
@keyframes left {
	0% {
		transform: translateX(-100vw);
	}

	100% {
		transform: translateX(0px);
	}
}
@keyframes right {
	0% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(-100vw);
	}
}
/*==========BUTTONS END==========*/

.samir {
	color: red;
}
