/*Mixins*/
@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin width-1110px {
	width: $width-1110px;
	margin: 0 auto;
}

// red buttons
@mixin red-btn {
	background-color: $dark-red;
	border-radius: 0.4rem;
	color: white;
}
