/*Variables*/
//Colors
$black: #000;
$white: #fff;
$dark-red: #ec1f46;
$dark-gray: #333;
$bgc-dark-blue: #0a223d;
$bgc-star: #f2994a;
$section-bgc: #f5fafe;

// fonts
$font-luckiest-guy: "Luckiest Guy", cursive;
$font-mulish: "Mulish", sans-serif;
$font-nunito: "Nunito", sans-serif;

// width
$width-1110px: 111rem;
