@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*Variables*/
/*Mixins*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .container-3d-card {
  font-size: 1.6rem;
  position: relative;
  width: 410px;
  height: 700px;
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
}

.container .container-3d-card .side {
  position: absolute;
  width: inherit;
  height: inherit;
  text-align: center;
  border-radius: 30px;
}

.container .container-3d-card .side .profile-card {
  padding: 80px 40px;
}

.container .container-3d-card .side .profile-card .profile-card__name {
  margin: 40px 0;
}

.container .container-3d-card .side .profile-card .profile-card__job {
  margin: 10px 0;
}

.container .container-3d-card .side .profile-card .profile-card__description p {
  font-size: 1.7rem;
}

.container .container-3d-card .side .profile-card .profile-card__social-icons {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}

.container .container-3d-card .side .profile-card .profile-card__social-icons .profile-card__social-icon {
  display: flex;
  flex-direction: column;
}

.container .container-3d-card .side .profile-card .profile-card__social-icons .profile-card__social-icon a i {
  font-size: 3rem;
  cursor: pointer;
  margin-bottom: 10px;
}

.container .container-3d-card .side .profile-card .profile-card__social-icons .profile-card__social-icon a .fa-facebook-square {
  color: #1850c7;
}

.container .container-3d-card .side .profile-card .profile-card__social-icons .profile-card__social-icon a .fa-github-square {
  color: #151516;
}

.container .container-3d-card .side .profile-card .profile-card__social-icons .profile-card__social-icon a .fa-instagram {
  background: linear-gradient(#405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.container .container-3d-card .side .profile-card .profile-card__social-icons .profile-card__social-icon a .fa-twitter-square {
  color: #00acee;
}

.container .container-3d-card .side .profile-card .profile-card__social-icons .profile-card__social-icon a .fa-telegram {
  color: #0088cc;
}

.container .container-3d-card .side .profile-card .profile-card__social-icons .profile-card__social-icon span:last-child {
  font-size: 1.2rem;
}

.container .container-3d-card .side .profile-card .profile-card__hireme-btn {
  margin-bottom: 20px;
}

.container .container-3d-card .side .profile-card .profile-card__hireme-btn a {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.container .container-3d-card .side .profile-card .profile-card__follow-message-btns {
  display: flex;
  justify-content: space-between;
}

.container .container-3d-card .side .profile-card .profile-card__follow-message-btns a {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 52px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.container .container-3d-card .front {
  background-color: #fff;
}

.container .container-3d-card .front img {
  border-radius: 30px;
}

.container .container-3d-card .back {
  transform: rotateY(180deg) translateZ(1px);
  background: #ef32d9;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ecef32, #89fffd);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container .container-3d-card:hover {
  transform: rotateY(180deg);
}

/*==========HEADER START==========*/
/*==========HEADER END==========*/
/*==========MAIN START==========*/
/*==========MAIN END==========*/
/*==========FOOTER START==========*/
/*==========FOOTER END==========*/
/*# sourceMappingURL=main.css.map */