/*==========NAVIGATION MENU START==========*/
header {
	.nav-container {
		width: 100%;
		height: 8rem;
		background-color: $bgc-dark-blue;
		font-family: $font-mulish;
		position: fixed;
		.fa-bars {
			position: absolute;
			top: 2.5rem;
			right: 2.5rem;
			font-size: 3rem;
			display: none;
		}

		.nav {
			@include width-1110px;
			position: relative;

			.nav__list {
				height: 8rem;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.nav__item {
					.nav__link {
						font-size: 1.4rem;
						font-weight: bold;
						color: $white;
						text-transform: uppercase;
						transition: 0.2s;

						&:hover {
							color: $dark-red;
						}
					}
				}
			}

			.fa-times {
				font-size: 3rem;
				transition: 0.2s;
				display: none;

				&:hover {
					color: $dark-red;
				}
			}
		}
	}
}
/*==========NAVIGATION MENU END==========*/
