@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap");
/*Variables*/
/*Mixins*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

/*==========HEADER START==========*/
header {
  background-color: rgba(111, 66, 193, 0.1);
}

header .header {
  width: 110rem;
  margin: 0 auto;
}

header .header .header__items {
  display: flex;
  justify-content: space-between;
  height: 7rem;
}

header .header .header__items .header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header .header__items .header__logo a {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
}

header .header .header__items .header__nav {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

header .header .header__items .header__nav ul {
  display: flex;
  justify-content: flex-end;
  max-width: 110rem;
  margin: 0 auto;
  padding: 0;
}

header .header .header__items .header__nav ul li {
  position: relative;
  padding: 1rem 0rem;
  transition: 0.5s;
}

header .header .header__items .header__nav ul li a {
  padding: 0 2rem;
}

header .header .header__items .header__nav ul li ul {
  position: absolute;
  background-color: #fff;
  top: 4rem;
  left: 0;
  display: block;
  width: 20rem;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

header .header .header__items .header__nav ul li:hover ul {
  opacity: 1;
  visibility: visible;
}

/*==========HEADER END==========*/
@media (max-width: 768px) {
  header .header .header__items .header__nav ul {
    display: block;
  }
  header .header .header__items .header__nav ul li {
    display: block;
  }
  header .header .header__items .header__nav ul li ul {
    width: 100%;
    z-index: 1000;
  }
}

.main {
  /*Banner section start*/
  /*Banner section end*/
  /*Coronavirus Statistics Section start*/
  /*Coronavirus Statistics Section end*/
  /*What is coronavirus section start end*/
  /*What is coronavirus section end*/
  /*How to prevent coronavirus section start*/
  /*How to prevent coronavirus section end*/
  /*How To Protect Yourself section start */
  /*How To Protect Yourself section end*/
  /*Symptoms of coronavirus section start*/
  /*Symptoms of coronavirus section end*/
  /*News & Article section start*/
  /*News & Article section end*/
}

.main .section__banner {
  background-color: rgba(111, 66, 193, 0.1);
  border-bottom-right-radius: 50%;
  margin-bottom: 7rem;
}

.main .section__banner .banner {
  width: 110rem;
  margin: 0 auto;
  display: flex;
}

.main .section__banner .banner .banner__text-area p:nth-of-type(1) {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(111, 66, 193, 0.5);
  letter-spacing: 0.1rem;
  font-weight: 900;
  text-align: left;
}

.main .section__banner .banner .banner__text-area h1 {
  color: #6f42c1;
  font-weight: 900;
  font-size: 4rem;
  margin-bottom: 1.6rem;
  text-align: left;
}

.main .section__banner .banner .banner__text-area p:nth-of-type(2) {
  line-height: 1.7;
  color: gray;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 4.8rem;
  text-align: left;
}

.main .section__banner .banner .banner__text-area a {
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 3rem;
  padding: 1rem 3rem;
  background-color: #6f42c1;
  color: #fff;
}

.main .section__banner .banner__image figure img {
  width: 55.5rem;
}

.main section .corona-statist .corona-statist__text-area h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 0.8rem;
  text-align: center;
  color: #6f42c1;
}

.main section .corona-statist .corona-statist__text-area p {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 4rem;
  text-align: center;
  color: gray;
}

.main section .corona-statist .corona-statist__datas {
  display: flex;
  justify-content: space-around;
}

.main section .corona-statist .corona-statist__datas .corona-statist__datas-active-cases {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main section .corona-statist .corona-statist__datas .corona-statist__datas-active-cases figure {
  margin-bottom: 1.6rem;
}

.main section .corona-statist .corona-statist__datas .corona-statist__datas-active-cases figure img {
  width: 3rem;
}

.main section .corona-statist .corona-statist__datas .corona-statist__datas-active-cases strong {
  font-size: 3.2rem;
  font-weight: 900;
  margin-bottom: 1.6rem;
}

.main section .corona-statist .corona-statist__datas .corona-statist__datas-active-cases span {
  font-size: 1.2rem;
  font-weight: 700;
  color: gray;
}

.main section .w-is-coronavirus {
  width: 110rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.main section .w-is-coronavirus .w-is-coronavirus__img-texts {
  display: flex;
}

.main section .w-is-coronavirus .w-is-coronavirus__img-texts .w-is-coronavirus__img figure img {
  width: 54rem;
}

.main section .w-is-coronavirus .w-is-coronavirus__img-texts .w-is-coronavirus__img .w-is-coronavirus__play-btn {
  position: relative;
}

.main section .w-is-coronavirus .w-is-coronavirus__img-texts .w-is-coronavirus__img .w-is-coronavirus__play-btn span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.6rem;
  margin-right: 8rem;
  text-align: center;
  color: #fff;
  margin-bottom: 1.6rem;
}

.main section .w-is-coronavirus .w-is-coronavirus__img-texts .w-is-coronavirus__img .w-is-coronavirus__play-btn a {
  position: absolute;
  bottom: 0.2rem;
  right: 0;
  font-size: 1.6rem;
  background-color: #6f42c1;
  color: #fff;
  padding: 2.5rem;
  border: none;
  outline: none;
}

.main section .w-is-coronavirus .w-is-coronavirus__img-texts .w-is-coronavirus__text-area {
  margin-left: 9.5rem;
  display: flex;
  flex-direction: column;
}

.main section .w-is-coronavirus .w-is-coronavirus__img-texts .w-is-coronavirus__text-area h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2.4rem;
  text-align: left;
  color: #6f42c1;
}

.main section .w-is-coronavirus .w-is-coronavirus__img-texts .w-is-coronavirus__text-area p:nth-of-type(1) {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: left;
  color: gray;
}

.main section .w-is-coronavirus .w-is-coronavirus__img-texts .w-is-coronavirus__text-area .w-is-coronavirus__text-area__check-list .w-is-coronavirus__text-area__check-list-group {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.main section .w-is-coronavirus .w-is-coronavirus__img-texts .w-is-coronavirus__text-area .w-is-coronavirus__text-area__check-list .w-is-coronavirus__text-area__check-list-group i {
  color: #6f42c1;
}

.main section .w-is-coronavirus .w-is-coronavirus__img-texts .w-is-coronavirus__text-area .w-is-coronavirus__text-area__check-list .w-is-coronavirus__text-area__check-list-group p {
  margin-left: 1rem;
  font-size: 1.6rem;
  padding: 0.5rem 0;
}

.main section .w-is-coronavirus .w-is-coronavirus__img-texts .w-is-coronavirus__text-area .w-is-coronavirus__text-area__btn {
  margin-top: 5rem;
}

.main section .w-is-coronavirus .w-is-coronavirus__img-texts .w-is-coronavirus__text-area .w-is-coronavirus__text-area__btn a {
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 3rem;
  padding: 1rem 3rem;
  background-color: #6f42c1;
  color: #fff;
}

.main section .w-is-coronavirus .w-is-coronavirus-features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 11rem;
  margin-bottom: 5rem;
}

.main section .w-is-coronavirus .w-is-coronavirus-features .w-is-coronavirus-features__protection {
  display: flex;
}

.main section .w-is-coronavirus .w-is-coronavirus-features .w-is-coronavirus-features__protection figure {
  margin-right: 2rem;
}

.main section .w-is-coronavirus .w-is-coronavirus-features .w-is-coronavirus-features__protection figure img {
  width: 4rem;
}

.main section .w-is-coronavirus .w-is-coronavirus-features .w-is-coronavirus-features__protection .w-is-coronavirus-features__protection__texts h3 {
  font-size: 1.6rem;
  font-weight: 900;
  color: #6f42c1;
}

.main section .w-is-coronavirus .w-is-coronavirus-features .w-is-coronavirus-features__protection .w-is-coronavirus-features__protection__texts p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #aaaaaa;
}

.main .how-to-pre-corona__section {
  background-color: rgba(111, 66, 193, 0.1);
}

.main .how-to-pre-corona__section .how-to-pre-corona {
  width: 110rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  display: flex;
}

.main .how-to-pre-corona__section .how-to-pre-corona .how-to-pre-corona__cards {
  display: flex;
  flex-direction: wrap;
  width: 55rem;
}

.main .how-to-pre-corona__section .how-to-pre-corona .how-to-pre-corona__cards .how-to-pre-corona__card-left {
  margin-top: 5rem;
}

.main .how-to-pre-corona__section .how-to-pre-corona .how-to-pre-corona__cards .how-to-pre-corona__card {
  margin: 1rem;
}

.main .how-to-pre-corona__section .how-to-pre-corona .how-to-pre-corona__cards .how-to-pre-corona__card .how-to-pre-corona__card__header {
  width: 25.5rem;
  height: 14rem;
  background-color: rgba(111, 66, 193, 0.2);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .how-to-pre-corona__section .how-to-pre-corona .how-to-pre-corona__cards .how-to-pre-corona__card .how-to-pre-corona__card__header figure img {
  width: 5rem;
  color: #6f42c1;
}

.main .how-to-pre-corona__section .how-to-pre-corona .how-to-pre-corona__cards .how-to-pre-corona__card .how-to-pre-corona__card__main {
  width: 25.5rem;
  height: 16.1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #fff;
  padding: 3rem;
}

.main .how-to-pre-corona__section .how-to-pre-corona .how-to-pre-corona__cards .how-to-pre-corona__card .how-to-pre-corona__card__main h3 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  color: #6f42c1;
  font-weight: 700;
}

.main .how-to-pre-corona__section .how-to-pre-corona .how-to-pre-corona__cards .how-to-pre-corona__card .how-to-pre-corona__card__main p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #aaaaaa;
  line-height: 2.3rem;
}

.main .how-to-pre-corona__section .how-to-pre-corona .how-to-pre-corona__text-area {
  margin-top: 24rem;
  margin-left: 10rem;
}

.main .how-to-pre-corona__section .how-to-pre-corona .how-to-pre-corona__text-area h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2.4rem;
  color: #6f42c1;
}

.main .how-to-pre-corona__section .how-to-pre-corona .how-to-pre-corona__text-area p:nth-of-type(1) {
  font-size: 1.6rem;
  font-weight: 400;
  color: #aaaaaa;
}

.main .how-to-pre-corona__section .how-to-pre-corona .how-to-pre-corona__text-area p:nth-of-type(2) {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #aaaaaa;
}

.main .how-to-pre-corona__section .how-to-pre-corona .how-to-pre-corona__text-area .how-to-pre-corona__text-area__check-list {
  margin-top: 2rem;
}

.main .how-to-pre-corona__section .how-to-pre-corona .how-to-pre-corona__text-area .how-to-pre-corona__text-area__check-list .how-to-pre-corona__text-area__check-list-group {
  display: flex;
}

.main .how-to-pre-corona__section .how-to-pre-corona .how-to-pre-corona__text-area .how-to-pre-corona__text-area__check-list .how-to-pre-corona__text-area__check-list-group i {
  font-size: 1.4rem;
  margin-right: 1rem;
  color: #6f42c1;
}

.main .how-to-pre-corona__section .how-to-pre-corona .how-to-pre-corona__text-area .how-to-pre-corona__text-area__check-list .how-to-pre-corona__text-area__check-list-group p {
  color: #aaaaaa;
}

.main .how-to-pre-corona__section .how-to-pre-corona .how-to-pre-corona__text-area .how-to-pre-corona__text-area__btn {
  margin-top: 6rem;
}

.main .how-to-pre-corona__section .how-to-pre-corona .how-to-pre-corona__text-area .how-to-pre-corona__text-area__btn a {
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 3rem;
  padding: 1rem 3rem;
  background-color: #6f42c1;
  color: #fff;
}

.main section .how-to-pro-yourself {
  width: 110rem;
  margin: 0 auto;
  margin-top: 10rem;
}

.main section .how-to-pro-yourself .how-to-pro-yourself__text-area {
  text-align: center;
}

.main section .how-to-pro-yourself .how-to-pro-yourself__text-area p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #aaaaaa;
}

.main section .how-to-pro-yourself .how-to-pro-yourself__text-area h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2.4rem;
  color: #6f42c1;
}

.main section .how-to-pro-yourself .how-to-pro-yourself__div {
  display: flex;
  justify-content: space-between;
  margin-top: 8.5rem;
}

.main section .how-to-pro-yourself .how-to-pro-yourself__div .how-to-pro-yourself__check-list {
  display: flex;
}

.main section .how-to-pro-yourself .how-to-pro-yourself__div .how-to-pro-yourself__check-list .how-to-pro-yourself__check-list__positive {
  margin-right: 10rem;
}

.main section .how-to-pro-yourself .how-to-pro-yourself__div .how-to-pro-yourself__check-list .how-to-pro-yourself__check-list__positive h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.main section .how-to-pro-yourself .how-to-pro-yourself__div .how-to-pro-yourself__check-list .how-to-pro-yourself__check-list__positive ul li {
  font-size: 1.6rem;
  font-weight: 400;
  color: #aaaaaa;
  margin-bottom: 1rem;
}

.main section .how-to-pro-yourself .how-to-pro-yourself__div .how-to-pro-yourself__check-list .how-to-pro-yourself__check-list__positive ul li i {
  color: #a8df65;
  margin-right: 1rem;
}

.main section .how-to-pro-yourself .how-to-pro-yourself__div .how-to-pro-yourself__check-list .how-to-pro-yourself__check-list__negative h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.main section .how-to-pro-yourself .how-to-pro-yourself__div .how-to-pro-yourself__check-list .how-to-pro-yourself__check-list__negative ul li {
  font-size: 1.6rem;
  font-weight: 400;
  color: #aaaaaa;
  margin-bottom: 1rem;
}

.main section .how-to-pro-yourself .how-to-pro-yourself__div .how-to-pro-yourself__check-list .how-to-pro-yourself__check-list__negative ul li i {
  color: #e84a5f;
  margin-right: 1rem;
}

.main section .how-to-pro-yourself .how-to-pro-yourself__div .how-to-pro-yourself__img figure img {
  width: 54rem;
}

.main .symptoms-of-corona__section {
  background-color: rgba(111, 66, 193, 0.1);
}

.main .symptoms-of-corona__section .symptoms-of-corona {
  width: 110rem;
  margin: 0 auto;
  padding-top: 5rem;
}

.main .symptoms-of-corona__section .symptoms-of-corona .symptoms-of-corona__text-area h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2.4rem;
  text-align: center;
  color: #6f42c1;
}

.main .symptoms-of-corona__section .symptoms-of-corona .symptoms-of-corona__text-area p:nth-of-type(1) {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
  color: #aaaaaa;
  text-align: center;
}

.main .symptoms-of-corona__section .symptoms-of-corona .symptoms-of-corona__cases {
  display: flex;
  flex-wrap: wrap;
}

.main .symptoms-of-corona__section .symptoms-of-corona .symptoms-of-corona__cases .symptoms-of-corona__case {
  display: flex;
  width: 53rem;
  height: 16.5rem;
  background-color: #fff;
  box-shadow: 10px 10px 10px 10px rgba(111, 66, 193, 0.05);
  margin: 1rem;
  padding: 3rem;
}

.main .symptoms-of-corona__section .symptoms-of-corona .symptoms-of-corona__cases .symptoms-of-corona__case figure img {
  width: 8rem;
}

.main .symptoms-of-corona__section .symptoms-of-corona .symptoms-of-corona__cases .symptoms-of-corona__case .symptoms-of-corona__text-area {
  margin-left: 3rem;
}

.main .symptoms-of-corona__section .symptoms-of-corona .symptoms-of-corona__cases .symptoms-of-corona__case .symptoms-of-corona__text-area h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.main .symptoms-of-corona__section .symptoms-of-corona .symptoms-of-corona__cases .symptoms-of-corona__case .symptoms-of-corona__text-area p {
  text-align: left;
}

.main .symptoms-of-corona__section .symptoms-of-corona .symptoms-of-corona__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-left: 11rem;
}

.main .symptoms-of-corona__section .symptoms-of-corona .symptoms-of-corona__footer p {
  font-size: 1.6rem;
  color: #aaaaaa;
  line-height: 1.5;
}

.main .symptoms-of-corona__section .symptoms-of-corona .symptoms-of-corona__footer p strong {
  color: #6f42c1;
}

.main .symptoms-of-corona__section .symptoms-of-corona .symptoms-of-corona__footer .symptoms-of-corona__footer__btn a {
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 3rem;
  padding: 1rem 3rem;
  background-color: #6f42c1;
  color: #fff;
}

.main .symptoms-of-corona__section .symptoms-of-corona .symptoms-of-corona__footer .symptoms-of-corona__footer__btn a i {
  margin-right: 1rem;
}

.main section {
  margin-bottom: 5rem;
}

.main section .news-and-articles {
  width: 110rem;
  margin: 0 auto;
}

.main section .news-and-articles .news-and-articles__text-area {
  text-align: center;
  margin-bottom: 7rem;
}

.main section .news-and-articles .news-and-articles__text-area h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2.4rem;
  color: #6f42c1;
}

.main section .news-and-articles .news-and-articles__text-area p {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
  color: #aaaaaa;
}

.main section .news-and-articles .news-and-articles__blogs {
  margin-bottom: 23rem;
  display: flex;
  justify-content: space-between;
}

.main section .news-and-articles .news-and-articles__blogs .news-and-articles__blog .news-and-articles__blog__img-box {
  position: relative;
  text-align: center;
}

.main section .news-and-articles .news-and-articles__blogs .news-and-articles__blog .news-and-articles__blog__img-box figure img {
  width: 34rem;
}

.main section .news-and-articles .news-and-articles__blogs .news-and-articles__blog .news-and-articles__blog__img-box time {
  position: absolute;
  bottom: -0.2rem;
  left: 12rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #6f42c1;
  padding: 0.5rem 1.5rem;
}

.main section .news-and-articles .news-and-articles__blogs .news-and-articles__blog .news-and-articles__blog__admin-comments {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.main section .news-and-articles .news-and-articles__blogs .news-and-articles__blog .news-and-articles__blog__admin-comments .news-and-articles__blog__admin {
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.main section .news-and-articles .news-and-articles__blogs .news-and-articles__blog .news-and-articles__blog__admin-comments .news-and-articles__blog__admin i {
  margin: 0 1rem;
  font-size: 1.4rem;
  color: #aaaaaa;
}

.main section .news-and-articles .news-and-articles__blogs .news-and-articles__blog .news-and-articles__blog__admin-comments .news-and-articles__blog__admin span {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.28rem;
  color: #aaaaaa;
}

.main section .news-and-articles .news-and-articles__blogs .news-and-articles__blog .news-and-articles__blog__h3 {
  text-align: center;
}

.main section .news-and-articles .news-and-articles__blogs .news-and-articles__blog .news-and-articles__blog__h3 h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #6f42c1;
}

/*==========FOOTER START==========*/
footer .footer {
  width: 110rem;
  margin: 0 auto;
}

footer .footer .footer__features {
  display: flex;
  justify-content: space-between;
}

footer .footer .footer__features .footer__features__about h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

footer .footer .footer__features .footer__features__about p {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.7);
  line-height: 27.2px;
  margin-bottom: 6rem;
}

footer .footer .footer__features .footer__features__about .footer__features__social-icons {
  display: flex;
}

footer .footer .footer__features .footer__features__about .footer__features__social-icons i {
  color: #6f42c1;
  margin-right: 1.6rem;
  font-size: 1.6rem;
}

footer .footer .footer__features .footer__features__style h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

footer .footer .footer__features .footer__features__style ul li {
  font-size: 1.6rem;
  font-weight: 700;
  color: #6f42c1;
  line-height: 27.2px;
}

footer .footer .footer__copyright {
  margin: 11rem 0;
  text-align: center;
}

footer .footer .footer__copyright p {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}

footer .footer .footer__copyright p i {
  font-size: 1.6rem;
  color: red;
  margin-right: 0.3rem;
}

/*==========FOOTER END==========*/
/*# sourceMappingURL=main.css.map */