/*Media Query 1200px start*/
@media (max-width: 1200px) {
	/*==========HEADER START==========*/
	header {
		.header {
			max-width: 90%;
			height: 6.4rem;
			margin: 2rem auto 3rem auto;

			/*Navgigation menu starts*/
			.nav {
				.nav__list {
					.nav__item {
						.nav__link {
							padding: 0 1rem;
						}
						.nav__btn {
							padding: 1rem 2.6rem;
						}
					}
				}
			}
			/*Navgigation menu ends*/
		}
	}
	/*==========HEADER END==========*/

	/*==========MAIN START==========*/
	main {
		.main {
			/*Main text area starts */
			.main__text-area {
				margin-bottom: 8rem;
				h1 {
					width: 60%;
					font-size: 3.5rem;
					line-height: 4rem;
				}

				p {
					width: 60%;
					font-size: 2rem;
					line-height: 2.6rem;
				}
			}
			/*Main text area ends*/
		}
	}
	/*==========MAIN END==========*/
}
/*Media Query 1200px end*/
